button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: url('headphones.png');
    background-size: cover;
    background-position: center;
}
html, body {
    height: 100%;
}
h1, h5 {
    color: white;
}
.custom-card {
    background-color: #222222aa;
    border-radius: 8px;
    padding: 12px;
}
#create-progress-container {
    width: 75%;
}
#create-playlist-btn {
    margin-top: 12px;
}